html{
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    background: #44336729;
}
header{
    height: 80px;
    padding: 0 4%;
    background: #443367;
    border-bottom: 1px solid #deeaee;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    color: #dacaca;
    font-size: 25px;
    display: flex;
}
header img{
    margin: 3px;
}

header h1,h2{
    margin: auto 3px;
}
a {
    margin: 5px;
    overflow: hidden;
}
figure{
    position: relative;
    margin: 0px;
}
.video_thumb {
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.video_thumb:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figcaption {
    background: rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 4px;
    box-sizing: border-box;
}
#careerselect {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

footer{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #dacaca;
    height: 30px;
    background: #443367;
    text-align: center;
}
